@model IEnumerable<Model.DTO.OrderExDTO>

@{
	ViewBag.Title = Resources.Resource.ClientDriveHistory;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/DriveHistory.css" type="text/css" rel="stylesheet" />

<div class="panel panel-primary">
	<div class="panel-heading">
		<center><h2>@Resources.Resource.ClientDriveHistory</h2></center>
	</div>
	<div class="panel-body">
		<table class="table" id="orders">
		<tr>
			<th id="dateTime">
				@Resources.Resource.DateTime
			</th>
			<th id="pickPlace">
				@Resources.Resource.PickPlace
			</th>
			<th id="dropPlace">
				@Resources.Resource.DropPlaces
			</th>
			<th id="carNumber">
				@Resources.Resource.CarNumber
			</th>
			<th id="price">
				@Resources.Resource.Price
			</th>
			<th id="status">
				@Resources.Resource.Status
			</th>
			<th id="feedback">
				@Resources.Resource.Feedback
			</th>
		</tr>
		@foreach (var item in Model)
		{
			<tr class="order" id="@item.Id">
				<td class="dateTime">
					@Html.DisplayFor(modelItem => item.OrderTime)
				</td>
				<td class="pickPlace">
					@Html.DisplayFor(modelItem => item.FullAddressFrom);
                </td>
                <td class="dropPlace">
					@Html.DisplayFor(modelItem => item.FullAddressTo)
				</td>
                <td class="carNumber">
					@Html.DisplayFor(modelItem => item.Car.CarNumber)
				</td>
                <td class="price">
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td class="status" status="@item.Status"></td>
                <td class="feedback">
					<button data-orderId="@item.Id" data-feedbackId="@item.ClientFeedbackId" type="button" class="btn btn-primary addFeedback" data-toggle="modal">@Resources.Resource.AddFeedback</button>
				</td>
            </tr>
        }
		</table>
	</div>
</div>

<div style="display:none;">
	<span class="canceled">@Resources.Resource.Canceled</span>
	<span class="finished">@Resources.Resource.Finished</span>
	<button type="button" class="btn btn-warning cancel">@Resources.Resource.Cancel</button>
</div>

@Html.Partial("ClientFeedback")

<script src="~/Scripts/DriveHistory.js"></script>
<script src="~/Scripts/Client/ClientFeedback.js"></script>