@model Model.DTO.OrderExDTO

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>OrderExDTO</legend>

		<div class="editor-label">
			@Html.LabelFor(model => model.Address)
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.Address)
			@Html.ValidationMessageFor(model => model.Address)
		</div>

		<p>
			<input id="order"type="button" value="Order" />
		</p>
	</fieldset>
}
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/Scripts/OrderExLogic/ClientOrder.js"></script>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
