@model IEnumerable<Model.DTO.DistrictDTO>

@{
	ViewBag.Title = "Choose district";
}
<div>
	<form method="post" class="form-inline">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">@Resources.Resource.WorkShift</h3>
			</div>

			<div class="panel-footer">
				<div class="form-group leftFloat">
					<input type="hidden" id="Id" value="@User.Id" />

					<input type="button" class="btn btn-success" id="workshift-button-start" change-btn-id="work_start" value=@Resources.Resource.WorkShiftStart />
					<input type="button" class="btn btn-success warning" id="workshift-button-end" change-btn-id="work_end" value=@Resources.Resource.WorkShiftEnd />
				</div>
				<div id="worker-status-group" class="btform">
					<div class="form-group leftFloat">
						<select class="input-xlarge" name="driverStatus" id="inputDriverStatus" onchange="workerStatusChange()">
							@foreach (var status in Common.Helpers.EnumHelper.GetWorkerStatus())
							{
								<option value="@status.Key">@status.Value</option>
							}
						</select>
					</div>
				</div>
				<div id="autoDistrictSelection">
					<label class="switch">
						<input type="checkbox">
						<div class="slider"></div>
					</label>
					<span class="autoSelectText">@Resources.Resource.AutoDistrict</span>
				</div>

				<div>
					<div class="modal fade" id="get-driver-error-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header modal-header-danger">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
									<h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-fire" aria-hidden="true">&nbsp;</span>@Resources.Resource.ServerErrorHeader</h4>
								</div>
								<div class="modal-body">
									<p>@Resources.Resource.CarNotFoundError</p>
								</div>
								<div class="modal-footer">
									<a class="btn btn-danger" data-dismiss="modal">
										<span class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;</span>@Resources.Resource.okString
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>

<table class="table newTableStyle">
	<tr>
		<th>
			@Resources.Resource.DriversCount
		</th>
		<th class="nameCell">
			@Resources.Resource.Districts
		</th>
		<th class="tableJoin"></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				<span class="count" id="@item.Id">0</span>
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				<span class="joinButton btn btn-success" data-id="@item.Id"><span class="">@Resources.Resource.Join</span><span class="hidenText">@Resources.Resource.DriverIsHere</span></span>
			</td>
		</tr>
	}
</table>

<link rel="stylesheet" href="~/Content/AutoParkCustomStyles.css" type="text/css" />

@Scripts.Render("~/Scripts/moment.js")
@Scripts.Render("~/Scripts/offline.min.js")
@Scripts.Render("~/Scripts/DriverEx/DistrictViewer.js")
@Scripts.Render("~/Scripts/DriverEx/DriverCoordinates.js")
<script>
	var districts = @Html.Raw(Json.Encode(Model.ToList()));
	var joinToLocation = "@Resources.Resource.Join";
	var currentLocation = "@Resources.Resource.DriverIsHere";
	var startWorkShift = "@Resources.Resource.WorkShiftStart";
	var endWorkShift = "@Resources.Resource.WorkShiftEnd";
</script>
<script src="~/Scripts/countUp.min.js"></script>
