@model IEnumerable<Model.DTO.DistrictDTO>

@{
	ViewBag.Title = "Choose district";
}
<div class="row">
	<div class="col-xs-12" id="autoDistrictSelection">
		
		<label class="switch">
			<input type="checkbox">
			<div class="slider"></div>
		</label>
		<span class="autoSelectText">@Resources.Resource.AutoDistrict</span>
	</div>
	
</div>
<table class="table newTableStyle">
	<tr>
		<th>
			@Resources.Resource.DriversCount
		</th>
		<th class="nameCell">
			@Resources.Resource.Districts
		</th>
		<th class="tableJoin"></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				<span class="count" id="@item.Id">0</span>
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				<span class="joinButton btn btn-success" data-id="@item.Id"><span class="">@Resources.Resource.Join</span><span class="hidenText">@Resources.Resource.DriverIsHere</span></span>
			</td>
		</tr>
	}
</table>
<script>
	var districts = @Html.Raw(Json.Encode(Model.ToList()))
</script>
<script src="~/Scripts/countUp.min.js"></script>
