@model IEnumerable<Model.DTO.OrderExDTO>

@{
	ViewBag.Title = "Driver Interface";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table" id="orders">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Address)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Status)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Address)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Status)
			</td>
			<td>
                <input itemid="@item.Id" type="button" value="Take" class="take btn btn-success" />
			</td>
		</tr>
	}

</table>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/Scripts/OrderExLogic/DriverOrder.js"></script>