@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@Resources.Resource.PersonalCabinet</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/tabHelper")

	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/BootstrapCallout.css")
	@Styles.Render("~/Content/ClientDriveService.css")
	@Styles.Render("~/Content/DriverEx.css")

</head>
<body style="padding:0; background-color: #0d0e10; background-image: none;">

	<input id="currentUserId" type="hidden" value="@User.Id" />
	<input id="currentUserName" type="hidden" value="@User.UserName" />
	<input type="hidden" id="hlat" value="48.309390" />
	<input type="hidden" id="hlong" value="25.943524" />
	<div id="driver-bootstrap-menu" class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Logo</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-menubuilder">
				<ul class="nav navbar-nav navbar-left">
					<li>
						@Html.ActionLink(Resources.Resource.MainLink, "Index", "Home")
					</li>
					<li>
						<a data-toggle="tab" href="#Home">@Resources.Resource.Home</a>
					</li>
					<li>
						<a data-toggle="tab" href="#District">@Resources.Resource.WorkShift</a>
					</li>
					<li>
						<a data-toggle="tab" href="#DistrictChooser">@Resources.Resource.District</a>
					</li>
					<li>
						<a data-toggle="tab" href="#NewOrders">@Resources.Resource.NewOrders</a>
					</li>
					<li>
						<a data-toggle="tab" href="#OrdersHistory">@Resources.Resource.OrdersHistory</a>
					</li>
					<li>
						<a data-toggle="tab" href="#MyOrder">My Order</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<div id="driver-content" class="tab-content">
			<div id="District" class="tab-pane fade">
				@{
					Html.RenderAction("WorkShift", "DriverEx");
				}
			</div>
			<div id="DistrictChooser" class="tab-pane fade">
				@{
					Html.RenderAction("Districts", "DriverEx");
				}
			</div>
			<div id="NewOrders" class="tab-pane fade">
				@{
					Html.RenderAction("NewOrders", "DriverEx");
				}
			</div>
			<div id="OrdersHistory" class="tab-pane fade">
				@{
					Html.RenderAction("OrdersHistory", "DriverEx");
				}
			</div>
			<div id="MyOrder" class="tab-pane fade">
				@{
					Html.RenderAction("MyOrder", "DriverEx");
				}
			</div>
		</div>
	</div>
	@Html.Partial("DriverFeedback")
	<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/OrderExLogic/DriverOrder.js" ></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
	@Scripts.Render("~/Scripts/DriverEx/DriverLocation.js")

	<script>
		var Resources = {
			TakeOrder: "@Resources.Resource.TakeOrder",
			WaitingTime: "@Resources.Resource.WaitingTime",
			AddFeedback: "@Resources.Resource.AddFeedback",
			LimitErrorHeader: "@Resources.Resource.LimitErrorHeader",
			AdminMessageHeader: "@Resources.Resource.AdminMessageHeader",
		};
	</script>
</body>
</html>
