@model IEnumerable<Model.DTO.OrderExDTO>

@{
	ViewBag.Title = "Driver Interface";
}

<h2>@Resources.Resource.NewOrders</h2>

<table class="table" id="orders">
	<tr>
		<th>
			@Resources.Resource.OrderAddress
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td class="col-md-9">
				@if (item.Address != null)
				{
				@Html.DisplayFor(modelItem => item.Address)
				}
				else
				{
					@Html.DisplayFor(modelItem => item.FullAddressFrom);
				}
			</td>
			<td class="col-md-3">
				<div class="input-group">
					<input type="number" class="waiting-time form-control" placeholder="@Resources.Resource.WaitingTime">
					<span class="input-group-btn">
						<input itemid="@item.Id" type="button" value="@Resources.Resource.TakeOrder" class="take btn btn-success" />
					</span>
				</div>
			</td>
		</tr>
	}

</table>


