@model IEnumerable<Model.DTO.OrderExDTO>

@{
	ViewBag.Title = "Driver History";
}

<h2>@Resources.Resource.OrdersHistory</h2>

<table class="table" id="orders">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Address)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.OrderTime)
		</th>
		<th>

		</th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Address)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OrderTime)
			</td>
			<td>
				<button data-feedbackId="@item.DriverFeedbackId" data-orderId="@item.Id" id="addFeedbackButton" type="button" class="btn btn-warning" data-toggle="modal">Add feedback</button>
			</td>
		</tr>
	}

</table>
@Html.Partial("DriverFeedback")
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/Scripts/DriverEx/DriverFeedback.js"></script>