@model IEnumerable<Model.DTO.OrderExDTO>

@{
	ViewBag.Title = "Driver History";
}

<h2>@Resources.Resource.OrdersHistory</h2>

<table class="table newTableStyle" id="orders_history">
	<tr>
		<th>
			@Resources.Resource.OrderAddress
		</th>
		<th>
			@Resources.Resource.OrderTime
		</th>
		<th>

		</th>
	</tr>

	@foreach (var item in Model) {
		<tr>
			<td class="col-md-8">
				@Html.DisplayFor(modelItem => item.FullAddressFrom);
			</td>
			<td class="col-md-2">
				@Html.DisplayFor(modelItem => item.OrderTime)
			</td>
			<td class="col-md-2">
				<button data-feedbackId="@item.DriverFeedbackId" data-orderId="@item.Id" type="button" class="btn btn-success addFeedbackButton" data-toggle="modal">@Resources.Resource.AddFeedback</button>
			</td>
		</tr>
	}

</table>
@Html.Partial("DriverFeedback")
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/Scripts/DriverEx/DriverFeedback.js"></script>