@model List<List<Model.DTO.DriverWithOrdersDTO>>

@{
	ViewBag.Title = Resources.Resource.Pulse;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/Pulse.css" />

<div id="title">
	<img src="~/Content/Picture/Pulse-icon.png" />
	<h1>@Resources.Resource.Pulse</h1>
</div>

<div id="container">
	<table class="list" border>
		<tr>
			<th colspan="3">
				@Resources.Resource.LastMonth
			</th>
		</tr>
		@foreach (var item in Model[0])
		{
			<tr>
				<td>
					@(Model[0].IndexOf(item) + 1)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Driver.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OrdersCount)
				</td>
			</tr>
		}
	</table>
	<table class="list" border>
		<tr>
			<th colspan="3">
				@Resources.Resource.AllTheTime
			</th>
		</tr>
		@foreach (var item in Model[1])
		{
			<tr>
				<td>
					@(Model[1].IndexOf(item) + 1)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Driver.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.OrdersCount)
				</td>
			</tr>
		}
	</table>
</div>


