@model Model.DTO.OrderExDTO

<table class="table" id="EditOrderTable">
	<caption>[Order Info]</caption>
	<tr>
		<td></td>
		<td>
			@Html.HiddenFor(x => Model.Id)
		</td>
	</tr>
	<tr>
		<td>
			@Html.Label(Resources.Resource.OrderTime)
		</td>
		<td>
			@Html.TextBoxFor(x => Model.OrderTime, new { @required = true, @minlength = "4" })
			@Html.ValidationMessageFor(x => x.OrderTime)
		</td>
	</tr>
	@*@if (Model.FullAddressFrom != null)
		{
			<tr>
				<td>
					@Html.Label("[Address]")
				</td>
				<td>
					@Html.TextBoxFor(x => Model.FullAddressFrom, new { @required = true, @minlength = "4" })
					@Html.ValidationMessageFor(x => x.FullAddressFrom)
				</td>
			</tr>
		}*@
	@if (Model.AddressFrom != null)
	{
		<tr>
			<td>
				@Html.Label(Resources.Resource.Address)
			</td>
			<td>
				@Html.TextBoxFor(x => Model.AddressFrom.Address, new { @required = true, @minlength = "4" })
				@Html.ValidationMessageFor(x => x.AddressFrom.Address)
			</td>
		</tr>
		<tr>
			<td>
				@Html.Label(Resources.Resource.Building)
			</td>
			<td>
				@Html.TextBoxFor(x => Model.AddressFrom.Building, new { @required = true, @minlength = "1" })
				@Html.ValidationMessageFor(x => x.AddressFrom.Building)
			</td>
		</tr>
		<tr>
			<td>
				@Html.Label(Resources.Resource.Entrance)
			</td>
			<td>
				@Html.TextBoxFor(x => Model.AddressFrom.Entrance, new { @required = true, @minlength = "1" })
				@Html.ValidationMessageFor(x => x.AddressFrom.Entrance)
			</td>
		</tr>
		<tr>
			<td>
				@Html.Label(Resources.Resource.Note)
			</td>
			<td>
				@Html.DisplayFor(x => Model.AddressFrom.Note, new { @required = true, @minlength = "2" })
			</td>
		</tr>
	}
</table>
@if (Model.AddressesTo.Count > 0)
{
	<div>
		<p class="paragraph">Deliver Addresses <span class="glyphicon glyphicon-chevron-down" style="float:right;"></span></p>
	</div>
	<div id="AddressesTable" style="display:none">
		<table class="table" id="EditOrderTable">
			@{
	for (int i = 0; i < Model.AddressesTo.Count; i++)
	{
		<tr>
			<td>
				@Html.Label(Resources.Resource.Address + (i + 1))
			</td>
			<td>
				@Html.TextBoxFor(x => Model.AddressesTo[i].Address, new { @required = true, @minlength = "3" })
				@Html.TextBoxFor(x => Model.AddressesTo[i].Building, new { @required = true, @minlength = "1" })
			</td>
		</tr>
	}
			}
		</table>
	</div>
}
@if (Model.AdditionallyRequirements != null)
{
	<div>
		<p class="paragraph">@Resources.Resource.Additionally<span class="glyphicon glyphicon-chevron-down" style="float:right;"></span></p>
	</div>
	<div id="RequirementsTable" style="display:none">
		<table class="table" id="EditOrderTable">
			<tr>
				<td>
					@Html.Label(Resources.Resource.Passengers)
				</td>
				<td>
					@Html.TextBoxFor(x => Model.AdditionallyRequirements.Passengers, new { @required = true, @minlength = "0" })
					@Html.ValidationMessageFor(x => Model.AdditionallyRequirements.Passengers)
				</td>
			</tr>
			<tr>
				<td>@Html.Label(Resources.Resource.ClassOfCar)</td>
				<td>
					@Html.DropDownListFor(x => Model.AdditionallyRequirements.Car,
				new SelectList(Enum.GetValues(typeof(Common.Enum.CarEnums.CarClassEnum))))
				</td>
			</tr>
			<tr>
				<td>@Html.Label(Resources.Resource.Additionally)</td>
				<td>
					<div id="requirements">
						<ul>
							<li>
								@Html.CheckBoxFor(m => Model.AdditionallyRequirements.Bag)
								@Html.Label(Resources.Resource.WithBaggage)
							</li>
							<li>
								@Html.CheckBoxFor(m => Model.AdditionallyRequirements.Conditioner)
								@Html.Label(Resources.Resource.Conditioner)
							</li>
							<li>
								@Html.CheckBoxFor(m => Model.AdditionallyRequirements.Courier)
								@Html.Label(Resources.Resource.Courier)
							</li>
							<li>
								@Html.CheckBoxFor(m => Model.AdditionallyRequirements.MyCar)
								@Html.Label(Resources.Resource.MyCar)
							</li>
							<li>
								@Html.CheckBoxFor(m => Model.AdditionallyRequirements.NoSmoking)
								@Html.Label(Resources.Resource.NoSmoking)
							</li>
							<li>
								@Html.CheckBoxFor(m => Model.AdditionallyRequirements.English)
								@Html.Label(Resources.Resource.WithEnglish)
							</li>
							<li>
								@Html.CheckBoxFor(m => Model.AdditionallyRequirements.Pets)
								@Html.Label(Resources.Resource.WithPets)
							</li>
							<li>
								@Html.CheckBoxFor(m => Model.AdditionallyRequirements.Smoking)
								@Html.Label(Resources.Resource.Smoking)
							</li>
							<li>
								@Html.CheckBoxFor(m => Model.AdditionallyRequirements.Urgently)
								@Html.Label(Resources.Resource.Urgently)
							</li>
						</ul>
					</div>
				</td>
			</tr>

		</table>
	</div>
}
@if (!string.IsNullOrEmpty(Model.Name))
{
	<table class="table" id="EditOrderTable">
		<caption>[Client Info]</caption>
		<tr>
			<td>
				@Html.Label(Resources.Resource.YourName)
			</td>
			<td>
				@Html.TextBoxFor(x => Model.Name, new { @required = true, @minlength = "2" })
				@Html.ValidationMessageFor(x => x.Name)
			</td>
		</tr>
		<tr>
			<td>
				@Html.Label(Resources.Resource.PhoneNumber)
			</td>
			<td>
				@Html.TextBoxFor(x => Model.Phone, new { @required = true, @minlength = "10" })
				@Html.ValidationMessageFor(x => x.Phone)
			</td>
		</tr>
	</table>
}
@if (Model.DriverId != null)
{
	<table class="table" id="EditOrderTable">
		<caption>[DRIVER INFO]</caption>
		<tr>
			<td>
				@Html.Label(Resources.Resource.Driver)
			</td>
			<td>
				@Html.TextBoxFor(x => Model.DriverId, new { @required = true, @minlength = "1" })
				@Html.ValidationMessageFor(x => x.DriverId)
			</td>
		</tr>
		@if (Model.CarId != null)
		{
			<tr>
				<td>
					@Html.Label("[CarID]")
				</td>
				<td>
					@Html.TextBoxFor(x => Model.CarId, new { @required = true, @minlength = "1" })
					@Html.ValidationMessageFor(x => x.CarId)
				</td>
			</tr>
		}
	</table>
}
<table class="table" id="EditOrderTable">
	<caption>[TRIP INFO]</caption>
	<tr>
		<td>
			@Html.Label(Resources.Resource.WaitingTime)
		</td>
		<td>
			@Html.TextBoxFor(x => Model.WaitingTime, new { @required = true, @minlength = "1" })
			@Html.ValidationMessageFor(x => x.WaitingTime)
		</td>
	</tr>
	<tr>
		<td>
			@Html.Label(Resources.Resource.Price)
		</td>
		<td>
			@Html.TextBoxFor(x => Model.Price, new { @required = true, @minlength = "2" })
			@Html.ValidationMessageFor(x => x.Price)
		</td>
	</tr>
	<tr>
		<td>
			@Html.Label(Resources.Resource.Perquisite)
		</td>
		<td>
			@Html.TextBoxFor(x => Model.Perquisite, new { @required = true, @minlength = "1" })
			@Html.ValidationMessageFor(x => x.Perquisite)
		</td>
	</tr>
</table>

@*<tr>
		<td>@Html.Label("[Order status]")</td>
		<td>
			@Html.DropDownListFor(x => Model.Status,
				new SelectList(Enum.GetValues(typeof(Common.Enum.OrderStatusEnum))))
		</td>
	</tr>*@
@*<tr>
		<td>@Html.Label(Resources.Resource.UserName)</td>

		<td>
			@Html.TextBoxFor(x => Model.UserName, new { @required = true, @minlength = "4" })
			@Html.ValidationMessageFor(x => x.UserName)
		</td>
	</tr>

	<tr>
		<td>@Html.Label(Resources.Resource.Password)</td>
		<td>
			@Html.PasswordFor(x => x.Password, new { @minlength = "6", @value = Model.Password, @required = true })
			@Html.ValidationMessageFor(x => x.Password)
		</td>
	</tr>

	<tr>
		<td>@Html.Label(Resources.Resource.Email)</td>
		<td>
			@Html.TextBoxFor(x => Model.Email, new { @type = "email", required = true })
			@Html.ValidationMessageFor(x => x.Email)
		</td>
	</tr>*@
