@{
	ViewBag.Title = "Orders";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="orderBoard">
	<div class="col">
		<div class="header">
			@Resources.Resource.NewOrders
		</div>
		<div id="newOrder" class="content">
		</div>
	</div>
	
	<div class="col">
		<div class="header">
			@Resources.Resource.ApprovedOrders
		</div>
		<div id="approvedOrder" class="content">
			
		</div>
	</div>

	<div class="col">
		<div class="header">
			@Resources.Resource.DeniedOrders
		</div>
		<div id="deniedOrder" class="content">
		</div>
	</div>

	<div class="col">
		<div class="header">
			@Resources.Resource.InProgressOrders
		</div>
		<div id="inProgressOrder" class="content">
		</div>
	</div>

	<div class="col">
		<div class="header">
			@Resources.Resource.FinishedOrders
		</div>
		<div id="doneOrder" class="content">

		</div>
	</div>
</div>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/Scripts/OrderExLogic/OperatorOrder.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=geometry"></script>
<link href="~/Content/OperatorOrder.css" rel="stylesheet" />
