@model Model.DTO.NewsDTO

@{
    ViewBag.Title = Resources.Resource.Edit;
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="newsEditor">

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
			<h2>@Resources.Resource.Title</h2>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
			<h2>@Resources.Resource.Article</h2>
        </div>
        <div class="editor-field">
			<div id="toolbar" class="sc-toolbar-container toolbar btform">
				<div class="sc-format-group">
					<span class="sc-bold sc-format-button"></span>
					<span class="sc-italic sc-format-button"></span>
					<span class="sc-strike sc-format-button"></span>
					<span class="sc-underline sc-format-button"></span>
					<span class="sc-format-button sc-link"></span>
					<span class="sc-format-separator"></span>
				</div>
				<select class="sc-size">
					<option value="small">Small</option>
					<option value="normal">Normal</option>
					<option value="large">Large</option>
				</select>
			</div>

			<div id="editor">
				@Html.Raw(Model.Article)
			</div>
        </div>

        <p>
			<button type="button" class="btn btn-success" onclick="SaveArticle(@Model.Id)">@Resources.Resource.Save</button>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<link rel="stylesheet" href="http://iamsaravieira.com/quill.snow.css">
<script src="http://iamsaravieira.com/quill.min.js"></script>

<script type="text/javascript">
	var editor = new Quill('#editor', {
		modules: {
			'toolbar': { container: '#toolbar' },
			'link-tooltip': true
		},
		theme: 'snow',
	});
</script>