@model IEnumerable<Model.DTO.NewsDTO>

@{
    ViewBag.Title = "[News]";
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-hover newTableStyle">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedTime)
        </td>
        <td>
			<a href="/News/Edit/?id=@item.Id" class="btn btn-success">@Resources.Resource.Edit</a>
            <button type="button" class="btn btn-success warning" onclick="DeleteArticle(@item.Id)">@Resources.Resource.Delete</button>
        </td>
    </tr>
}

</table>
