<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>
                        @Html.ActionLink("About", "")
                    </li>
                    <li>
                        @Html.ActionLink("Services", "")
                    </li>
                    <li>
                        @Html.ActionLink("Contact", "")
                    </li>
                </ul>
                <ul class="nav navbar-nav" style="float:right;">
                    <li>
                        @Html.ActionLink("Log in", "Authentification","Account")
                    </li>
                    <li>
                        @Html.ActionLink("Registration", "Registration", "Account")
                    </li>
                </ul>
                <div class="clearfix"></div>    
            </div>

            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Link list</p>
                <div class="list-group">
                    <ul>
                        <li>@Html.ActionLink("Districts menu", "DistrictEditor", "Settings")</li>
                        <li>@Html.ActionLink("UsersMenu", "UsersMenu", "Settings")</li>
                        <li>@Html.ActionLink("AddUser", "AddUser", "Administration")</li>
                    </ul>
                        @Html.Partial("_Language")
                    
                </div>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    @RenderBody()
                </div>

               

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2015</p>
                </div>
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>

</html>
