@using Common.Enum

<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
	<meta charset="utf-8" />
	<title>@ViewBag.Title - EasyTaxi</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" href="~/Content/Picture/Redesign/icon.png"/>
	<link href='//fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<script src="~/Scripts/jquery-2.2.3.js"></script>
	<script type="text/javascript" src="~/Scripts/IEValidation.js"></script>
	<script type="text/javascript" src="~/Scripts/GeneralScripts.js"></script>
	<link href="~/Content/AutoParkCustomStyles.css" rel="stylesheet" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/handlebars")
	@Scripts.Render("~/Scripts/Highcharts-4.0.1/js/highcharts.js")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/Content/handlebars.js")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/Content/Main.css")
</head>
<body>
	<div class="row">
		<div class="adblockWraper">
			<div id="adblock-warning" class="panel panel-warning col-lg-offset-1 col-lg-10 col-sm-10 col-sm-offset-1  col-xs-12">
				<div class="panel-heading" id="AdBlockPanel">
					@Resources.Resource.AdBlockWarning
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1 col-lg-1 col-sm-1"></div>
		<div class="col-md-10 col-lg-10 col-sm-10 col-xs-12" id="navBar">
			<p id="navPhone">Call us: (800) 123-3542</p>
			<div class="left-menu">
				<div class="navbar navbar-default" id="desktopNavBar">
					<div id="mainLogoContainer">
						<a href="/Home/Index"> <img src="~/Content/Picture/SmartPhonePictures/SiteLogo.png" class="topLogo" id="mainLogo" /> </a>
					</div>
					<div class="container" id="navContainer">
						<div class="navbar-header" id="navHeader">
							<ul class="nav navbar-nav">
								@if (Session["User"] == null || ViewBag.UserRoleId == (int)AvailableRoles.Client)
		{
									<li id="navBarBtn" class="dropdown">

										<a class="dropdown-toggle" data-toggle="dropdown" href="#">@Resources.Resource.OrderTaxi.ToUpper()<span class="caret"></span></a>

										<ul class="dropdown-menu">
											<li id="order-dropdown">@Html.ActionLink(Resources.Resource.StandartOrder, "OrderTaxi", "Home")</li>
											<li class="divider"></li>
											<li id="order-dropdown">@Html.ActionLink(Resources.Resource.AdvancedOrder, "OrderForm", "Home")</li>
										</ul>
									</li>
			if (Session["User"] == null)
			{ 

									<li id="navBarBtn">@Html.ActionLink("[HOME]", "Index", "Home")</li>
									
									<li id="navBarBtn">@Html.ActionLink("[ABOUT US]", "Index", "Home")</li>
									<li id="navBarBtn">@Html.ActionLink(Resources.Resource.SingUp.ToUpper(), "Registration", "Account")</li>
	                                <li id="navBarBtn">@Html.ActionLink(Resources.Resource.Login.ToUpper(), "Authentification", "Account")</li>
			}
		}
		@if(Session["User"] != null)
		{
			string q = ((Model.DTO.UserDTO)Session["User"]).UserName;
									<li id="navBarBtn" style="display: inline-flex;">
										@Html.ActionLink(Resources.Resource.LogOut, "LogOut", "Account")
										<img src="~/Images/@ViewBag.ImageName" data-toggle="tooltip" title="@q" class="img-rounded" style="max-width: 50px; max-height: 50px; border-radius:0px;" />
									</li>
		}
							</ul>
						</div>
					</div>
				</div>
				@*mobile inputs*@
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-1 col-lg-1 col-sm-1 col-xs-12" style="padding: 0px">

			<div class=" btn-group btn-group-justified" id="mobileBtnsList">
				<a href="/Account/Authentification" class="btn btn-primary" id="mainBtns"><img src="~/Content/Picture/SmartPhonePictures/userLogo.png" id="menuImage" /></a>
				<a href="/Home/OrderTaxi" class="btn btn-primary" id="mainBtns"><img src="~/Content/Picture/SmartPhonePictures/taxiLogo.png" id="menuImage" /></a>
			</div>
			<button class="navbar-toggle " data-toggle="collapse" data-target=".dropdownMenu" id="dropdownMenuBtn">
				<a href="/Home/Index"> <img src="@Url.Content("~/Content/Picture/SmartPhonePictures/SiteLogo.png")" id="siteLogoImage" /> </a>
				<div id="dashes">
					<span class="icon-bar" id="dashBtnIcon"></span>
					<span class="icon-bar" id="dashBtnIcon"></span>
					<span class="icon-bar" id="dashBtnIcon"></span>
				</div>
			</button>
			@*Links menu by users role*@
			<div class="list-group collapse navbar-collapse dropdownMenu" id="droppedDownList">
				<ul class="nav" id="mainMenu">
					@if (Session["User"] != null)
					{
						<li class="list-group-item" id="sideMenu">@Html.ActionLink(@Resources.Resource.MyAccount, "Index", "User")</li>

						if (ViewBag.UserRoleId == (int)AvailableRoles.Administrator || ViewBag.UserRoleId == (int)AvailableRoles.Operator)
						{

							if (ViewBag.UserRoleId == (int)AvailableRoles.Administrator)
							{
								<li class="list-group-item" id="sideMenu">@Html.ActionLink(Resources.Resource.Districts, "DistrictEditor", "Settings")</li>
							}

							<li class="list-group-item" id="sideMenu">@Html.ActionLink(@Resources.Resource.UserMenu, "UsersMenu", "Settings")</li>
							<li class="list-group-item" id="sideMenu">@Html.ActionLink(@Resources.Resource.Tariffs, "Index", "TariffEx")</li>
							<li class="list-group-item" id="sideMenu">@Html.ActionLink(Resources.Resource.Order, "Index", "OrderEx")</li>
							<li class="list-group-item" id="sideMenu">@Html.ActionLink(@Resources.Resource.SetVIPStatusPage, "SetVIPStatus", "Settings")</li>
							<li class="list-group-item" id="sideMenu">@Html.ActionLink(@Resources.Resource.WorkShift, "ViewWorkShifts", "Administration")</li>
							<li class="list-group-item" id="sideMenu">@Html.ActionLink(@Resources.Resource.SendMessagesToDrivers, "SendMessagesToDrivers", "Administration")</li>
						}

						if (ViewBag.UserRoleId == (int)AvailableRoles.ReportViewer)
						{
							<li class="list-group-item" id="sideMenu">@Html.ActionLink(@Resources.Resource.Statistics, "Index", "ReportCharts")</li>
						}

						if (ViewBag.UserRoleId == (int)AvailableRoles.Driver || ViewBag.UserRoleId == (int)AvailableRoles.FreeDriver)
						{
							<li class="list-group-item" id="sideMenu">@Html.ActionLink(@Resources.Resource.CarEditor, "CarPark", "Cars")</li>
						}

						@*Only driver can have personal cabinet*@
						if (ViewBag.UserRoleId == (int)AvailableRoles.Driver || ViewBag.UserRoleId == (int)AvailableRoles.FreeDriver)
						{
							<li class="list-group-item" id="sideMenu">@Html.ActionLink(Resources.Resource.PersonalCabinet, "Index", "DriverEx")</li>
						}

						if (ViewBag.UserRoleId == (int)AvailableRoles.Client)
						{
							<li class="list-group-item" id="sideMenu">@Html.ActionLink(@Resources.Resource.TitleLeftMenuUserAddress, "Index", "Address")</li>
							<li class="list-group-item" id="sideMenu">@Html.ActionLink(@Resources.Resource.UserPage, "Index", "UserPage")</li>
							<li class="list-group-item" id="sideMenu">@Html.ActionLink(@Resources.Resource.DemoPage, "Iframe", "UserPage") </li>
							<li class="list-group-item" id="sideMenu">@Html.ActionLink(@Resources.Resource.ClientDriveHistory, "DriveHistory", "Client")</li>
						}

						if (ViewBag.UserRoleId == (int)AvailableRoles.Support)
						{
							<li class="list-group-item" id="sideMenu">@Html.ActionLink(@Resources.Resource.ClientSupport, "Index", "Support")</li>
						}
						else
						{
							<li class="list-group-item" id="sideMenu"><a id="showChat">@Resources.Resource.Help</a></li>
						}
					}
				</ul>
			</div>
		</div>
		<div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 " id="mainContainer">
			@RenderBody()
		</div>
	</div>
	<div id="chat">
		<div class="head">
			<img class="avatar" src="/Images/item_0_profile.jpg">
			<div class="serviceWorker">
				<div class="name">Саша</div>
				<div class="description">Служба підтримки</div>
			</div>
			<div class="minimize" onclick="HideSupportChat()"></div>
		</div>
		<div class="body">
		</div>
		<div class="bottom">
			<textarea class="message" placeholder="Введіть повідомлення"></textarea>
			<div class="btnSend"><img class="btnSendImage" src="~/Content/Picture/sendIcon.png" onclick="SendMessage()"></div>
		</div>
	</div>

	<div class="container-fluid">
		<!-- Footer -->
		<footer>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12" id="footerContainer">
					<div class="lang">
						<ul class="nav navbar-nav">
							@Html.Partial("_Language")
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</div>
	@Scripts.Render("~/bundles/inputmask")
	@Scripts.Render("~/bundles/datetime")
	@RenderSection("scripts", required: false)
	<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/Tools/AddBlockChecker.js"></script>
</body>
</html>