                    <ul class="nav" >
                        <li class="list-group-item">@Html.ActionLink("Districts menu", "DistrictEditor", "Settings")</li>
                        <li class="list-group-item">@Html.ActionLink("UsersMenu", "UsersMenu", "Settings")</li>
                        <li class="list-group-item">@Html.ActionLink("AddUser", "AddUser", "Administration")</li>
                        <li class="list-group-item">@Html.ActionLink("UserAddress", "Index","Address")</li>
                        <li class="list-group-item">@Html.ActionLink("CarEditor", "CarEditor", "Settings")</li>
                        <li class="list-group-item">@Html.ActionLink("My Account", "Index", "User")</li>
                    </ul>