<ul>
    <li>@Html.ActionLink("Districts menu", "DistrictEditor", "Settings")</li>
    <li>@Html.ActionLink("UsersMenu", "UsersMenu", "Settings")</li>
    <li>@Html.ActionLink("AddUser", "AddUser", "Administration")</li>
    <li>@Html.ActionLink("UserAddress", "Index", "Address")</li>
    <li>@Html.ActionLink("CarEditor", "CarEditor", "Settings")</li>
</ul>