@model IEnumerable<Model.DTO.OrderDTO>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script id="orderTemplate" type="text/x-handlebars-template">
    <table>
        <thead>
            <tr>
                <th>@Resources.Resource.Name</th>
                <th>@Resources.Resource.PeekPlace</th>
                <th>@Resources.Resource.DropPlace</th>
                <th>@Resources.Resource.OrderTime</th>
            </tr>
        </thead>
        <tbody>
            {{#each objects}}
            <tr>
                <td>{{FirsName}}</td>
                <td>{{PeekPlace}}</td>
                <td>{{DropPlace}}</td>
                <td>{{PrettifyDate OrderTime}}</td>
                <td>
                    <button class="btn success" data-orderid="{{OrderId}}" data-status="1" id="submitOrdering" onclick="setOrderStatus(this)">@Resources.Resource.Confirm</button>
                    <button class="btn btn-danger" data-orderid="{{OrderId}}" data-status="2" id="deniedOrdering" onclick="setOrderStatus(this)">@Resources.Resource.Denied</button></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</script>


<button class="btn btn-primary btn-lg" onclick="GetOrders()">@Resources.Resource.Update</button>
<div id="orderContent"></div>

<script src="~/Scripts/HandlebarsCustomHelpers.js"></script>
<script type="text/javascript" src="~/Scripts/OperatorCommand/OperatorCommands.js"></script>