@model IEnumerable<Model.DTO.OrderDTO>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--
    Messages
-->
@Styles.Render("~/Content/sweetalert2")


<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="~/Scripts/sweetalert2.min.js"></script>
<script src="~/signalr/hubs"></script>



<div class="main" style="float:right">
    <input id="currentUserId" type="hidden" value="@User.Id" />
    <button class="btn btn-primary" id="showform">Message to drivers</button> <br />
</div>




<!--
    End messages
-->


@* New orders table *@
<script id="orderTemplate" type="text/x-handlebars-template">   
            {{#each objects}}
            <tr>
                <td>{{FirsName}}</td>
                <td>{{PeekPlace}}</td>
                <td>{{DropPlace}}</td>
                <td>{{PrettifyDate OrderTime}}</td>
                <td>
                    <button class="btn btn-success" data-orderid="{{OrderId}}" data-status="1" id="submitOrdering" onclick="setOrderStatus(this)">@Resources.Resource.Confirm</button>
                    <button class="btn btn-danger" data-orderid="{{OrderId}}" data-status="2" id="deniedOrdering" onclick="setOrderStatus(this)">@Resources.Resource.Denied</button>
                </td>
            </tr>
            {{/each}}
            {{#if object}}
            <tr>
                <td>{{object.FirsName}}</td>
                <td>{{object.PeekPlace}}</td>
                <td>{{object.DropPlace}}</td>
                <td>{{PrettifyDate OrderTime}}</td>
                <td>
                    <button class="btn btn-success" data-orderid="{{OrderId}}" data-status="1" id="submitOrdering" onclick="setOrderStatus(this)">@Resources.Resource.Confirm</button>
                    <button class="btn btn-danger" data-orderid="{{OrderId}}" data-status="2" id="deniedOrdering" onclick="setOrderStatus(this)">@Resources.Resource.Denied</button>
                </td>
            </tr>
            {{/if}}
</script>

@* Waiting Orders *@
<script id="waitingOrderTemplate" type="text/x-handlebars-template">
            {{#each waitingOrders}}
            <tr id="{{Id}}">
                <td>{{FirsName}}</td>
                <td>{{PeekPlace}}</td>
                <td>{{DropPlace}}</td>
                <td>{{PrettifyDate OrderTime}}</td>
                <td>
                    <button class="btn btn-danger" data-orderid="{{OrderId}}" data-status="5" id="waitingOrders" onclick="setOrderStatus(this)">@Resources.Resource.Denied</button>
                </td>
            </tr>
            {{/each}}
    {{#if waitingOrder}}
	<tr id="{{waitingOrder.Id}}">
		<td>{{FirstName}}</td> @*How to extract First Name*@
		<td>{{waitingOrder.PeekPlace}}</td>
		<td>{{waitingOrder.DropPlace}}</td>
		<td>{{PrettifyDate OrderTime}}</td>
		<td>
			<button class="btn btn-danger" data-orderid="{{waitingOrder.OrderId}}" data-status="5" id="waitingOrders" onclick="setOrderStatus(this)">@Resources.Resource.Denied</button>
		</td>
	</tr>
        {{/if}}
    </script>

    @* DriverRequest table *@
<script id="driverRequestTemplate" type="text/x-handlebars-template">
            {{#each requests}}
            <tr>
                <td>{{PeekPlace}}</td>
                <td>{{DropPlace}}</td>
                <td>{{WaitingTime}}</td>
                <td>{{DriverId}}</td>
                <td>
                    <button class="btn btn-success" data-orderid="{{OrderId}}" data-status="4" id="submitDrRequest" onclick="setOrderStatus(this)">@Resources.Resource.Confirm</button>
                    <button class="btn btn-danger" data-orderid="{{OrderId}}" data-status="2" id="deniedDrRequest" onclick="setOrderStatus(this)">@Resources.Resource.Denied</button>
                </td>
            </tr>
            {{/each}}
            {{#if request}}
    <tr>
        <td>{{request.PeekPlace}}</td>
        <td>{{request.DropPlace}}</td>
        <td>{{request.WaitingTime}}</td>
        <td>{{request.DriverId}}</td>
        <td>
            <button class="btn btn-success" data-orderid="{{request.Id}}" data-status="4" id="submitDrRequest" onclick="setOrderStatus(this)">@Resources.Resource.Confirm</button>
            <button class="btn btn-danger" data-orderid="{{request.Id}}" data-status="2" id="deniedDrRequest" onclick="setOrderStatus(this)">@Resources.Resource.Denied</button>
        </td>
    </tr>
    {{/if}}
</script>


<h2 class="OperatortbNames">@Resources.Resource.NewOrders</h2>
<table class="table table-hover">
    <tr class="historyTh">
        <th>@Resources.Resource.Name</th>
        <th>@Resources.Resource.PeekPlace</th>
        <th>@Resources.Resource.DropPlace</th>
        <th>@Resources.Resource.OrderTime</th>
        <th>@Resources.Resource.Action</th>
    </tr>
    <tbody id="orderContent"></tbody>
</table>
<h2 class="OperatortbNames">@Resources.Resource.WaitingOrders</h2>
<table class="table table-hover">
    <tr class="historyTh">
        <th>@Resources.Resource.Name</th>
        <th>@Resources.Resource.PeekPlace</th>
        <th>@Resources.Resource.DropPlace</th>
        <th>@Resources.Resource.OrderTime</th>
        <th>@Resources.Resource.Action</th>
    </tr>
    <tbody id="waitingOrdersContent"></tbody>
</table>
<h2 class="OperatortbNames">@Resources.Resource.ConfirmedByDrivers</h2>
<table class="table table-hover">
        <tr class="historyTh">
            <th>@Resources.Resource.PeekPlace</th>
            <th>@Resources.Resource.DropPlace</th>
            <th>@Resources.Resource.WaitingTime</th>
            <th>@Resources.Resource.Driver</th>
            <th>@Resources.Resource.Action</th>
        </tr>
    <tbody id="driverRequest"></tbody>
</table>

    <script src="~/Scripts/HandlebarsCustomHelpers.js"></script>
    <script type="text/javascript" src="~/Scripts/OperatorCommand/OperatorCommands.js"></script>
    <link href="~/Content/BootstrapTb/BootstrapTb.css" rel="stylesheet" />
