@model IEnumerable<Model.DTO.OrderDTO>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* New orders table *@

<h3 style="text-align:center">@Resources.Resource.NewOrders</h3>
<script id="orderTemplate" type="text/x-handlebars-template">
    <table class="table">
        <thead>
            <tr>
                <th>@Resources.Resource.Name</th>
                <th>@Resources.Resource.PeekPlace</th>
                <th>@Resources.Resource.DropPlace</th>
                <th>@Resources.Resource.OrderTime</th>
                <th>@Resources.Resource.Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each objects}}
            <tr>
                <td>{{FirsName}}</td>
                <td>{{PeekPlace}}</td>
                <td>{{DropPlace}}</td>
                <td>{{PrettifyDate OrderTime}}</td>
                <td>
                    <button class="btn btn-success" data-orderid="{{OrderId}}" data-status="1" id="submitOrdering" onclick="setOrderStatus(this)">@Resources.Resource.Confirm</button>
                    <button class="btn btn-danger" data-orderid="{{OrderId}}" data-status="2" id="deniedOrdering" onclick="setOrderStatus(this)">@Resources.Resource.Denied</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
<div id="orderContent"></div>

@* DriverRequest table *@
<h3 style="text-align:center">@Resources.Resource.ConfirmedByDrivers</h3>
<script id="driverRequestTemplate" type="text/x-handlebars-template">
    <table class="table">
        <thead>
            <tr>
                <th>@Resources.Resource.PeekPlace</th>
                <th>@Resources.Resource.DropPlace</th>
                <th>@Resources.Resource.WaitingTime</th>
                <th>@Resources.Resource.Driver</th>
                <th>@Resources.Resource.Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each requests}}
            <tr>
                <td>{{PeekPlace}}</td>
                <td>{{DropPlace}}</td>
                <td>{{WaitingTime}}</td>
                <td>{{DriverId}}</td>
                <td>
                    <button class="btn btn-success" data-orderid="{{OrderId}}" data-status="4" id="submitDrRequest" onclick="setOrderStatus(this)">@Resources.Resource.Confirm</button>
                    <button class="btn btn-danger" data-orderid="{{OrderId}}" data-status="2" id="deniedDrRequest" onclick="setOrderStatus(this)">@Resources.Resource.Denied</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
<div id="driverRequest"></div>


<script src="~/Scripts/HandlebarsCustomHelpers.js"></script>
<script type="text/javascript" src="~/Scripts/OperatorCommand/OperatorCommands.js"></script>