@model IEnumerable<Model.DTO.OrderDTO>

@foreach (var order in Model)
{
    <tr>
        <td>@Html.DisplayFor(m => order.Id)</td>
        <td>@Html.DisplayFor(m => order.ComeOut)</td>
        <td>@Html.DisplayFor(m => order.ComeIn)</td>
        <td>@Html.DisplayFor(m => order.OrderTime)</td>
        <td>@Html.DisplayFor(m => order.RunTime)</td>
        <td>@Html.DisplayFor(m => order.Person.User.UserName)</td>
        <td><input type="button" class="btn-success" value="Submit"/></td>
        <td><input type="button" class="btn-warning" value="Discart" /></td>
    </tr>
}