@using Model
@model Model.DTO.LocationDTO

@{
    ViewBag.Title = "EditLocation";
}
<legend>@Resources.Resource.TitleEditLocation</legend>
<h2>@Resources.Resource.YourCurrentLocation @ViewBag.DistrictName</h2> <p></p>

<h6>@Resources.Resource.EditLocation</h6>

<div class="row">
    <form action="EditLocation" method="post">
        <div class="col-md-6">

            <select name="Id" class="form-control">
                @{

                    foreach (District District in ViewBag.Districts)
                    {
                        <option value="@District.Id"> @District.Name </option>
                    }
                }
            </select>
        </div>
        <div class="col-md-6">
            <input type="submit" value="ok" class="btn btn-default">
        </div>
    </form>
</div>



@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
