@model IList<Model.DTO.TarifDTO>

@{
    ViewBag.Title = "Index";
    int number = 1;
}

@Html.ActionLink("[Create New]", "Create")  
<br />


<table class="table">

    <tr>
        <td>
            @Html.Label("[Number]")
        </td>
        <td>
            @Html.Label("[Tarif Name]")
        </td>

        <td>
            @Html.Label("[Minimal Price]")
        </td>

        <td>
            @Html.Label("[Start Price]")
        </td>
        <td>
            @Html.Label("[Waiting Cost]")
        </td>

        <td>
            @Html.Label("[One Minute Cost]")
        </td>

        <td>
            @Html.Label("[District Name]")
        </td>

        <td>
            @Html.Label("[Is Intercity]")
        </td>

        <td>
            @Html.Label("[Is Standart]")
        </td>

    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>@Html.Label((number++).ToString())  </td>
            <td>@Html.DisplayFor(x => i.Name)</td>
            <td>@Html.DisplayFor(x => i.MinimalPrice)</td>
            <td>@Html.DisplayFor(x => i.StartPrice)</td>
            <td>@Html.DisplayFor(x => i.WaitingCost)</td>
            <td>@Html.DisplayFor(x => i.OneMinuteCost)</td>
            <td>@Html.DisplayFor(x => i.District.Name)</td>
            <td>@Html.DisplayFor(x => i.IsIntercity)</td>
            @if (i.IsStandart)
            { 
            <td><span title="This is the standart tariph">*</span></td>
            } 
            else
            {
                <td></td>
            }
            <td>@Html.ActionLink("Edit", "Edit", new { id = i.id })</td>
            @if (!i.IsStandart)
            {
            <td>@Html.ActionLink("Delete", "Delete", new { id = i.id })</td>
            }
        </tr>
    }
</table>