@{
    ViewBag.Title = "OrderTaxi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-warning" id="geoOff">
	<strong id="geoAlert">@Resources.Resource.NoGeoLocation</strong>
</div>


<div class="form-group" id="addressInput">
	<input id="textField" placeholder=@Resources.Resource.EnterYourAdress
		   type="text" />
</div>

<div id="mapContainer">
	<div class="panel panel-info">
		<div class="panel-heading"><h3 class="panel-title">@Resources.Resource.SetYourPosition</h3></div>
		<div class="panel-body">
			<div id="map">
			</div>
			<div id="controlOrder" title="Click to get a taxi">
				<div id="orderBtn">@Resources.Resource.OrderTaxi.ToUpper()</div>
			</div>
		</div>
	</div>
</div>
<script>
	var picturePath = '@Url.Content("~/Content/Picture/UserMapIcons/")';
</script>

<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
<script src="~/Scripts/OrderExLogic/ClientOrder.js"></script>

@Scripts.Render("~/Scripts/GoogleMapJS/GoogleMapTaxiOrder.js")
