@model IEnumerable<Model.DTO.TariffExDTO>

@{
	ViewBag.Title = Resources.Resource.Tariffs;
}

<h2>@Resources.Resource.Tariffs</h2>

<p>
	<button type="button" class="btn btn-success" data-toggle="modal" data-target="#tariffDetailsModal" onclick="CreateNewTariff()">@Resources.Resource.CreateNewTariff</button>
</p>
<table class="table table-hover newTableStyle">
	<tr>
		<th>
			@Resources.Resource.Name
		</th>
		<th>
			@Resources.Resource.Description
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		if (item.Status == Common.Enum.TariffExStatus.Active)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>

				<td>
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#tariffDetailsModal" onclick="GetTariffData(@item.Id)">@Resources.Resource.Edit</button>
					<button type="button" class="btn btn-success warning" onclick="DeleteTariff(@item.Id)">@Resources.Resource.Delete</button>
				</td>
			</tr>
		}
	}

</table>

<div class="modal fade" id="tariffDetailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel"></h4>
			</div>
			<div class="modal-body">

				<input type="hidden" id="Id">

				<table>
					<tr>
						<td><label for="Name" class="control-label">@Resources.Resource.Name</label></td>
						<td><input type="text" class="form-control" id="Name" placeholder="@Resources.Resource.Name"></td>
					</tr>
					<tr>
						<td><label for="Description" class="control-label">@Resources.Resource.Description</label></td>
						<td><input type="text" class="form-control" id="Description" placeholder="@Resources.Resource.Description"></td>
					</tr>
					<tr>
						<td><label for="PriceInCity" class="control-label">@Resources.Resource.InCity</label></td>
						<td><input type="number" class="form-control" id="PriceInCity" placeholder="@Resources.Resource.InCity"></td>
					</tr>
					<tr>
						<td><label for="PriceOutCity" class="control-label">@Resources.Resource.OutCity</label></td>
						<td><input type="number" class="form-control" id="PriceOutCity" placeholder="@Resources.Resource.OutCity"></td>
					</tr>
					<tr>
						<td><label for="PricePreOrder" class="control-label">@Resources.Resource.PreOrder</label></td>
						<td><input type="number" class="form-control" id="PricePreOrder" placeholder="@Resources.Resource.PreOrder"></td>
					</tr>
					<tr>
						<td><label for="PriceRegularCar" class="control-label">@Resources.Resource.RegularCar</label></td>
						<td><input type="number" class="form-control" id="PriceRegularCar" placeholder="@Resources.Resource.RegularCar"></td>
					</tr>
					<tr>
						<td><label for="PriceMinivanCar" class="control-label">@Resources.Resource.Minivan</label></td>
						<td><input type="number" class="form-control" id="PriceMinivanCar" placeholder="@Resources.Resource.Minivan"></td>
					</tr>
					<tr>
						<td><label for="PriceLuxCar" class="control-label">@Resources.Resource.LuxCar</label></td>
						<td><input type="number" class="form-control" id="PriceLuxCar" placeholder="@Resources.Resource.LuxCar"></td>
					</tr>
					<tr>
						<td><label for="PriceCourierOption" class="control-label">@Resources.Resource.CourierOption</label></td>
						<td><input type="number" class="form-control" id="PriceCourierOption" placeholder="@Resources.Resource.CourierOption"></td>
					</tr>
					<tr>
						<td><label for="PricePlateOption" class="control-label">@Resources.Resource.PlateOption</label></td>
						<td><input type="number" class="form-control" id="PricePlateOption" placeholder="@Resources.Resource.PlateOption"></td>
					</tr>
					<tr>
						<td><label for="PriceClientCarOption" class="control-label">@Resources.Resource.ClientCarOption</label></td>
						<td><input type="number" class="form-control" id="PriceClientCarOption" placeholder="@Resources.Resource.ClientCarOption"></td>
					</tr>
					<tr>
						<td><label for="PriceSpeakEnglishOption" class="control-label">@Resources.Resource.SpeakEnglishOption</label></td>
						<td><input type="number" class="form-control" id="PriceSpeakEnglishOption" placeholder="@Resources.Resource.SpeakEnglishOption"></td>
					</tr>
					<tr>
						<td><label for="PricePassengerSmokerOption" class="control-label">@Resources.Resource.PassengerSmokerOption</label></td>
						<td><input type="number" class="form-control" id="PricePassengerSmokerOption" placeholder="@Resources.Resource.PassengerSmokerOption"></td>
					</tr>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.Close</button>
				<button type="button" class="btn btn-primary" onclick="SaveTariff()">@Resources.Resource.Save</button>
			</div>
		</div>
	</div>
</div>
