@{ 
//Гіпотетичний лайер!!    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>[DriverCabinet]</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body style="padding:0">
    <div id="driver-bootstrap-menu" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Logo</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        @Html.ActionLink("[Main]", "Index", "Home")
                    </li>
                    <!-- Менюшки!!! Лінки знизу заміняти своїми сторінками!!!!!
                        Індекс тимчасовий!!!-->
                    <li>
                       @Html.ActionLink("Home", "Index", "Driver")
                    </li>
                    <li>
                        @Html.ActionLink("Settings", "Settings", "Driver")
                    </li>
                    <li>
                        @Html.ActionLink("Messages", "Messages", "Driver")
                    </li>
                    <li>
                        @Html.ActionLink("District", "District", "Driver")
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>


