@model bool
@using Common.Helpers

@{
	ViewBag.Title = "DistrictPart";
}


<link rel="stylesheet" href="~/Content/AutoParkCustomStyles.css" type="text/css" />

<script>
	var joinToLocation = "@Resources.Resource.Join";
	var currentLocation = "@Resources.Resource.DriverIsHere";
	var startWorkShift = "@Resources.Resource.WorkShiftStart";
	var endWorkShift = "@Resources.Resource.WorkShiftEnd";
</script>

<div>
	<form method="post" class="form-inline">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">@Resources.Resource.WorkShift</h3>
			</div>

			<div class="panel-footer">
				<div class="form-group">
					<input type="hidden" id="Id" value="@User.Id" />

					<input type="button" class="btn btn-success" id="workshift-button" change-btn-id="work_start" value=@Resources.Resource.WorkShiftStart />	
						
				</div>
					<div id="worker-status-group">
						<div class="form-group">
							<select class="form-control input-sm" name="driverStatus" id="inputDriverStatus" onchange="workerStatusChange()">
									@foreach (var status in Common.Helpers.EnumHelper.GetWorkerStatus())
									{
										<option value="@status.Key">@status.Value</option>
									}
								</select>
							</div>
				</div>
				
				<div>
					<div class="modal fade" id="get-driver-error-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header modal-header-danger">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									</button>
									<h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-fire" aria-hidden="true">&nbsp;</span>@Resources.Resource.ServerErrorHeader</h4>
								</div>
								<div class="modal-body">
									<p>@Resources.Resource.CarNotFoundError</p>
								</div>
								<div class="modal-footer">
									<a class="btn btn-danger" data-dismiss="modal">
										<span class="glyphicon glyphicon-ok" aria-hidden="true">&nbsp;</span>@Resources.Resource.okString
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>


@Scripts.Render("~/Scripts/moment.js")
@Scripts.Render("~/Scripts/offline.min.js")
@Scripts.Render("~/Scripts/DriverEx/DistrictViewer.js")
@Scripts.Render("~/Scripts/DriverEx/DriverCoordinates.js")