@{
    ViewBag.Title = "DriverOrders";
}

<script src="~/Scripts/handlebars.min.js"></script>


<div class="modal fade" id="Asign">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">@Resources.Resource.TakeOrder</h3> 
            </div>

            <div class="modal-body">

                <label>@Resources.Resource.TimeFromOrder</label>
                <label> <input type="text" id="timetotravel"/></label>
                </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" data-dismiss="modal" onclick="Assign()" >@Resources.Resource.Confirm</button>
                <button class="btn btn-danger" type="button" data-dismiss="modal">@Resources.Resource.cancelButton</button>
            </div> 
        </div> 
    </div> 
</div>

<div class="modal fade" id="successDriverOrder">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">[Заказ подвержден. Едте]</h3>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deniedDriverOrder">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">[Заказ отклонен]</h3>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
            </div>
        </div>
    </div>
</div>

<script id="template-article" type="text/x-handlebars-template">
    
    <table class="table">

        <tr>
            <th> @Resources.Resource.OrderTime </th>
            <th> @Resources.Resource.PeekPlace</th>
            <th> @Resources.Resource.DropPlace </th>
            <th> @Resources.Resource.Action</th>
        </tr>

        {{#each orders}}
        <tr>
            <td>{{PrettifyDate OrderTime}}</td>
            <td>{{PeekPlace}}</td>
            <td>{{DropPlace}}</td>
            <td> <button type="button" class="submitButton btn btn-default" data-orderid="{{Id}}" data-toggle="modal" data-target="#Asign" onclick="saveOrderId(this)">@Resources.Resource.Confirm</button> </td>
        </tr>
        {{/each}}

    </table>
</script>
<div id="DrOrder"></div>
<button type="button" class="btn successDriverOrder" style="display:none" data-toggle="modal" data-target="#successDriverOrder"></button>
<button type="button" class="btn deniedDriverOrder" style="display:none" data-toggle="modal" data-target="#deniedDriverOrder"></button>
<script type="text/javascript" src="~/Scripts/OperatorCommand/DriverCommand.js"></script>

<script src="~/Scripts/HandlebarsCustomHelpers.js"></script>