@using DotNet.Highcharts
@model Highcharts
@{
	ViewBag.Title = "HighchartsDemo1";
}
<link rel="stylesheet" href="~/Content/HighchartsCustomStyles/PageCustomisation.css" type="text/css" />
<div>
	<div class="page-header">
		<h1>@Resources.Resource.OurReportsHeader</h1>
	</div>
	<div class="container-fluid">
		<ul class="nav nav-tabs nav-divider">
			<li>
				<a href="~/" class="btn btn-info"><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;</span>@Resources.Resource.MainLink</a>
				@*@Html.ActionLink(Resources.Resource.MainLink, "Index", "Home")*@
			</li>
			<li role="presentation" class="active">
				<a data-toggle="tab" href="#Chart1">@Resources.Resource.OrderChartsRoma</a>
			</li>
			<li role="presentation">
				<a data-toggle="tab" href="#Chart2">@Resources.Resource.OrdersPerDistrictStat</a>
			</li>
			<li role="presentation">
				<a data-toggle="tab" href="#Chart3">@Resources.Resource.FuelConsumption</a>
			</li>
			<li role="presentation">
				<a data-toggle="tab" href="#Chart4">@Resources.Resource.OrderDiagrama</a>

			</li>
			<li role="presentation">
				<a data-toggle="tab" href="#Chart5">@Resources.Resource.AllDriversIncomeReport</a>
			</li>
			<li role="presentation">
				<a data-toggle="tab" href="#Chart6">@Resources.Resource.DriversIncome</a>
			</li>
		</ul>
	</div>
	<div>
		<div id="reports-content" class="tab-content">
			<div id="Chart1" class="tab-pane fade in active">
					@{
						Html.RenderPartial("ChartOrders");
					}
			</div>
			<div id="Chart2" class="tab-pane fade">
				@{
					Html.RenderAction("DistrictReportsPerYear","ReportCharts");
				}
			</div>
			<div id="Chart3" class="tab-pane fade">
				<p>
					@ViewBag.Chart
				</p>
			</div>
			<div id="Chart4" class="tab-pane fade">
				@{
					Html.RenderPartial("TopOrderingClientsPartial");
				}

			</div>
			<div id="Chart5" class="tab-pane fade">
				<p>
					@{
						Html.RenderAction("YearIncome", "ReportCharts");
					}
				</p>
			</div>
			<div id="Chart6" class="tab-pane fade">
				<p>
					@ViewBag.DriversIncomeChart
				</p>
			</div>
		</div>
	</div>
</div>
<style>
	#FuelConsumptionID_container {
		width: 1000px;
		height: 600px;
		margin: 0 auto;
	}
	#driversChartId_container {
		width: 1000px;
		height: 600px;
		margin: 0 auto;
	}
</style>
