@using Common.Helpers
@model MainSaite.Models.AutoParkViewModel

@{
    ViewBag.Title = "CarEditor";
    string username = (Session["user"] as Model.DTO.UserDTO).UserName;
}
@Styles.Render("~/Content/BootstrapCallout.css")
@Styles.Render("~/Content/bootstrap-datetimepicker.css")
@Styles.Render("~/Content/AutoParkCustomStyles.css")
<div>
    <div class="page-header"><h1>@Resources.Resource.Greeting,<small>@username</small></h1></div>
    <div class="panel-group">
        <div id="overpanel" class="panel panel-info">
            <div class="panel-heading"><h3 class="panel-title">@Resources.Resource.Garage</h3></div>
            <div class="panel-body"><img class="img-thumbnail" src="~/Content/Picture/streets_cars_traffic.jpg" /></div>
            <div class="panel-footer"><a class="btn btn-success" role="button" onclick="carController.addNewCar()"><span class="glyphicon glyphicon-th-list" aria-hidden="true">&nbsp;</span>@Resources.Resource.AddNewCar</a></div>
            <div class="table-list">
                <div id="carTableResponsive" class="table-responsive">
                    <table class="table table-striped" id="CarParkTable">
                        <thead>
                            <tr class="info">
                                <th>@Resources.Resource.ActionsColumn</th>
                                <th><a id="carlink" href="#" class="btn-link" onclick="carController.sortBy('name')">@Resources.Resource.CarName</a></th>
                                <th><a id="carlink" href="#" class="btn-link" onclick="carController.sortBy('nickname')">@Resources.Resource.CarNickName</a></th>
                                <th><a id="carlink" href="#" class="btn-link" onclick="carController.sortBy('number')">@Resources.Resource.CarNumber</a></th>
                                <th>@Resources.Resource.CarState</th>
                                <th>@Resources.Resource.CarStatus</th>
                            </tr>
                        </thead>
                        <tbody>
                            <script id="carListRow" type="text/x-handlebars-template">
                                {{#each cars}}
                                <tr>
                                    <td>
                                        <!-- Single button -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @Resources.Resource.ActionsColumn <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                {{#ifCond OwnerId UserId}}
                                                <li>
                                                    <a href="#"
                                                       data-cars-id="{{Id}}"
                                                       role="button" onclick="carController.getCarEdit(this)">
                                                        <span class="glyphicon glyphicon-cog" aria-hidden="true">&nbsp;</span>@Resources.Resource.editString
                                                    </a>
                                                </li>
                                                <li role="separator" class="divider"></li>
                                                {{/ifCond}}
                                                {{#ifCond OwnerId UserId}}
                                                <li>
                                                    <a href="#" data-cars-id="{{Id}}" data-cars-name="{{CarName}}" role="button" onclick="carController.deleteCar(this)">
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true">&nbsp;</span>@Resources.Resource.deleteString
                                                    </a>
                                                </li>
                                                <li role="separator" class="divider"></li>
                                                {{/ifCond}}
                                                <li>
                                                    <a href="#"
                                                       data-cars-id="{{Id}}"
                                                       role="button" onclick="carController.getCarDetails(this)">
                                                        <span class="glyphicon glyphicon-file" aria-hidden="true">&nbsp;</span>@Resources.Resource.CarsDetails
                                                    </a>
                                                </li>
                                                <li role="separator" class="divider"></li>
                                                {{#ifCond OwnerId UserId}}
                                                <li>
                                                    <a href="#" data-cars-id="{{Id}}" data-cars-name="{{CarName}}" role="button" onclick="carController.giveCar(this)">
                                                        <span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;</span>@Resources.Resource.ChangeDriver
                                                    </a>
                                                </li>
                                                {{else}}
                                                <li>
                                                    <a href="#" data-cars-id="{{Id}}" data-cars-name="{{CarName}}" data-cars-owner="{{OwnerId}}" role="button" onclick="carController.returnCar(this)">
                                                        <span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;</span>@Resources.Resource.Return
                                                    </a>
                                                </li>
                                                {{/ifCond}}
                                            </ul>
                                        </div>
                                    </td>
                                    <td>{{CarName}}</td>
                                    <td>{{CarNickName}}</td>
                                    <td>{{CarNumber}}</td>
                                    <td>{{CarStateDescription}}</td>
                                    <td>
                                        <input type="radio" name="carStatus" role="button"
                                               onclick="carController.getThisCarMain(this)"
                                               data-cars-id="{{Id}}"
                                               data-cars-name="{{CarName}}"
                                               {{#if isMain}}
                                               checked="checked"
                                               value="main"
                                               {{else}}
                                               value="spare"
                                               {{/if}}>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </script>
                            </tbody>
                        </table>
                        @Html.Partial("_DeleteCarPartial", Model.Cars)
                        @Html.Partial("_EditCarPartial", Model.Cars)
                        @Html.Partial("_AddCarPartial", Model.Cars)
                        @Html.Partial("_CarDetails", Model.Cars)
                        @Html.Partial("_GiveCarPartial", Model)
                        @Html.Partial("_ReturnCarPartial", Model.Cars)
                        @Html.Partial("_GetErrorMessage", Model)
                        @Html.Partial("_GetMainCarPartial", Model.Cars)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        //------paths------//
        var SortCarPath = '@Url.Action("SortBy","Cars")';
        var AddCarPath = '@Url.Action("AddNewCar","Cars")';
        var GetCarEditPath = '@Url.Action("GetCarForEdit","Cars")';
        var EditCarPath = '@Url.Action("EditCar","Cars")';
        var SetCarStatusPath = '@Url.Action("SetCarStatus","Cars")';
        var DeleteCarPath = '@Url.Action("DeleteCar","Cars")';
        var GiveCarPath = '@Url.Action("GiveCar","Cars")';
        var ReturnCarPath = '@Url.Action("ReturnCar","Cars")';


        var encodedCarData;
        encodedCarData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Cars.ToList()));
        var userId = @Html.Raw((Session["User"] as Model.DTO.UserDTO).Id);
        var ownerId = @Html.Raw((Session["User"] as Model.DTO.UserDTO).Id);
    </script>
    @Scripts.Render("~/bundles/datetime")
    @Scripts.Render("~/bundles/AutoParkCustomScripts")