@model Model.DB.RegistrationModel

@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Registration"))
        {
           @Html.ValidationSummary();
           @:Login @Html.EditorFor(x=>x.UserName)
           @:Password @Html.EditorFor(x =>x.Password)  
           @:Confirm Password @Html.EditorFor(x => x.ConfirmPassword)
           @:Email @Html.EditorFor(x => x.Email)
       
             <input type="submit" value="Register" />
        }
    </div>
</body>
</html>
