@model Model.DTO.UserDTO

    <div>
        @using (Html.BeginForm("Registration"))
        {
           @Html.ValidationSummary();
           @:Login @Html.EditorFor(x=>x.UserName)
           @:Password @Html.EditorFor(x =>x.Password)  
           @:Confirm Password @Html.EditorFor(x => x.ConfirmPassword)
           @:Email @Html.EditorFor(x => x.Email)
       
             <input type="submit" value="Register" />
        }
    </div>
