@model IList<Model.DTO.UserDTO>


<table class="table newTableStyle">
	<tr>
		<th>@Resources.Resource.UserId </th>
		<th>@Resources.Resource.UserName </th>
		<th>@Resources.Resource.Email </th>
		<th>@Resources.Resource.Role</th>
		<th>@Resources.Resource.Description </th>
		<th>@Resources.Resource.Action</th>
	</tr>

	@foreach (var i in Model)
	{
		<tr>
			@Html.Partial("_ShowUser", i)
			<td>
				@Ajax.ActionLink(Resources.Resource.editString, "ChangeMenu", new { id = i.Id },
		 new AjaxOptions
		 {
			 HttpMethod = "GET",
			 UpdateTargetId = "ModalContent",
			 InsertionMode = InsertionMode.Replace,
			 LoadingElementId = "loading"
		 }, new { @class = "Edit btn-success" }
		)
			</td>
		</tr>
	}

</table>





<script src="~/Scripts/UserMenuScripts/ModalJs.js">

</script>