@using Model.DTO
@model Model.DTO.CarDTO

@{
    ViewBag.Title = "CarCreate";
}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <fieldset>
        <legend>Car Registration</legend>
    </fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Add your car info here!</legend>
        <div class="editor-label"></div>
        @Html.Label("Car Model:")
        <div class="editor_field"></div>
        @Html.EditorFor(x => x.CarName)

        <div class="editor-label"></div>
        @Html.Label("Car number:")
        <div class="editor_field"></div>
        @Html.EditorFor(x => x.CarNumber)

        <div class="editor-label"></div>
        @Html.Label("Car ocupation:")
        <div class="editor_field"></div>
        @Html.EditorFor(x => x.CarOccupation)

        <div class="editor-label"></div>
        @Html.Label("Car class:")
        <div class="editor_field"></div>
        @Html.DropDownListFor(State => State.CarClass,
    new SelectList(Enum.GetValues(typeof(Common.Enum.CarEnums.CarClassEnum))))

        <div class="editor-label"></div>
        @Html.Label("Petrol type:")
        <div class="editor_field"></div>
        @Html.EditorFor(x => x.CarPetrolType)

        <div class="editor-label"></div>
        @Html.Label("Petrol consumption:")
        <div class="editor_field"></div>
        @Html.EditorFor(x => x.CarPetrolConsumption)

        <div class="editor-label"></div>
        @Html.Label("Manufacturing date:")
        <div class="editor_field"></div>
        @Html.EditorFor(x => x.CarManufactureDate)

        <div class="editor-label"></div>
        @Html.Label("Cars current state:")
        <div class="editor_field"></div>
        @Html.DropDownListFor(State => State.CarState,
    new SelectList(Enum.GetValues(typeof(Common.Enum.CarEnums.CarStateEnum))))

        @Html.Hidden("UserId", (Session["User"] as Model.DTO.UserDTO).Id != null ? (Session["User"] as Model.DTO.UserDTO).Id : -1)
    </fieldset>

    <input type="submit" value="Complete" />
}
</body>
</html>


