@model Model.DTO.CarDTO

@{
    ViewBag.Title = "CarDelete";
}

<h2>CarDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>CarDTO</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarOccupation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarOccupation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarPetrolType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarPetrolType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarPetrolConsumption)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarPetrolConsumption)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CarManufactureDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CarManufactureDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "CarEditor")
    </p>
}
