@model IEnumerable<Model.DTO.CarDTO>

@{
    ViewBag.Title = "CarEditor";
}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <fieldset>
        <legend>Car info modification</legend>
    </fieldset>
    <fieldset>
        @Html.ActionLink("Create new car?", "CarCreate")
    </fieldset>
    <fieldset>
        <legend>Your car list:</legend>
        <div class="table-list">
            <table>
                <tr>
                    <th>
                        <div class="editor-label"></div>
                        @Html.Label("Car Model:")
                    </th>
                    <th>
                        <div class="editor-label"></div>
                        @Html.Label("Car Number:")
                    </th>
                    <th>
                        <div class="editor-label"></div>
                        @Html.Label("Car State:")
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="editor_field"></div>
                            @Html.DisplayFor(modelItem => item.CarName)
                        </td>
                        <td>
                            <div class="editor_field"></div>
                            @Html.DisplayFor(modelItem => item.CarNumber)
                        </td>
                        <td>
                            <div class="editor_field"></div>
                            @Html.DisplayFor(modelItem => item.CarState)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "CarEdit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "CarDetails", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "CarDelete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </table>
        </div>

    </fieldset>
</body>
</html>