@model IEnumerable<Model.DTO.CarDTO>

@{
    ViewBag.Title = "CarEditor";
}

<h2>CarEditor</h2>

<p>
    @Html.ActionLink("Create New", "CarCreate")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CarName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CarNumber)
        </th>
		<th>
			@Html.DisplayNameFor(model => model.CarState)
		</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarNumber)
        </td>
		<td>
			@Html.DisplayFor(modelItem => item.CarState)
		</td>
        <td>
            @Html.ActionLink("Edit", "CarEdit", new { id=item.Id }) |
            @Html.ActionLink("Details", "CarDetails", new { id=item.Id }) |
            @Html.ActionLink("Delete", "CarDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
