@model IList<Model.District>
@{
	string username = (Session["user"] as Model.DTO.UserDTO).UserName;
}
<h2>@Resources.Resource.DistrictEditor</h2>
<div>
	<div class="page-header">
		<h1>@Resources.Resource.Greeting,<small>@username</small></h1>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">@Resources.Resource.Garage</h3>
		</div>
		<div class="panel-body">
		</div>
		<div class="panel-footer">
			<a class="btn btn-success" onclick="jsController.addDistrict(this)">[ADD NEW]</a>
			<a class="btn btn-warning" onclick="jsController.DistrictBasket(this)">[Basket]</a>
		</div>
		<div class="table-list">
			<div class="table-responsive">
				<table class="table table-striped" id="districtEditTable">
					<thead>
						<tr class="info">
							<th>
								@Resources.Resource.District
							</th>
							<th>
								@Resources.Resource.Action
							</th>
						</tr>
					</thead>
					<tbody>
						<script id="dsEditRow" type="text/x-handlebars-template">
							{{#each items}}
							<tr>
								<td>
									{{Name}}
								</td>
								<td>
									<a class="btn btn-warning" href="#" data-items-id="{{Id}}" data-items-name="{{Name}}" role="button" onclick="jsController.editItem(this)">[EDIT]</a>
									<a class="btn btn-danger" href="#" data-items-id="{{Id}}" data-items-name="{{Name}}" role="button" onclick="jsController.deleteItem(this)">[DELETE]</a>
								</td>
							</tr>
							{{/each}}
						</script>
					</tbody>
				</table>

				<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
							</div>

							<div class="modal-body">
								<p>Ви дійсно хочете видалити цей запис?</p>
								<h4><p class="item-name"></p></h4>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<a class="btn btn-danger btn-ok">Delete</a>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="edit-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">Edit</h4>
							</div>

							<div class="modal-body">
								<p>Enter new name</p>
								<h4><input id="newName" /></h4>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<a class="btn btn-danger btn-ok">Save</a>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="add-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">Add New</h4>
							</div>
							<div class="modal-body">
								<p>Enter new distrcit name</p>
								<h4><input type="text" class="form-control input-lg" id="newDistrictName" /></h4>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<a class="btn btn-danger btn-ok">Save</a>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deletedList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">Add New</h4>
							</div>
							<div class="modal-body">
								<div class="table-list">
									<div class="table-responsive">
										<table class="table table-striped" id="districtDeletedTable">
											<thead>
												<tr class="info">
													<th>
														@Resources.Resource.District
													</th>
													<th>
														@Resources.Resource.Action
													</th>
												</tr>
											</thead>
											<tbody>
												<script id="dsDeletedRow" type="text/x-handlebars-template">
													{{#each deleted}}
													<tr>
														<td>
															{{Name}}
														</td>
														<td>
															<a class="btn btn-warning" href="#" data-items-id="{{Id}}" data-items-name="{{Name}}" role="button" onclick="jsController.restoreDistrict(this)">[RESTORE]</a>
														</td>
													</tr>
													{{/each}}
												</script>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<script>
	
	var itemId;
	var itemName;
	var districtTemplate = Handlebars.compile($("#dsEditRow").html());
	var deletedDistrictsTemplate = Handlebars.compile($("#dsDeletedRow").html()); //!!!

	$(document).ready(function () {
		jsController.renderData();
		$('#confirm-delete .btn-ok').click(function () {
			var c = 'yupiii';
			var request = $.ajax({
				url: "/Settings/DeleteDistrict/",
				data: {Id: itemId, Name: itemName },
				method: "POST",
			}).success(function (result) {
				jsController.data.items = result;
				jsController.renderData();
			});
			$('#confirm-delete').modal('hide');
			return false;
		});
	});
	var jsController = {
		data: {items: @Html.Raw(Json.Encode(Model.ToList()))},
		deletedData: {deleted: @Html.Raw(Json.Encode(Model.ToList()))}, //!!!!

		renderData: function(){
			$('#districtEditTable tbody').html(districtTemplate(this.data));
		},

		renderDeletedData: function(){
			$('#districtDeletedTable tbody').html(deletedDistrictsTemplate(this.deletedData));
		},

		//! function that opens basket modal window
		DistrictBasket: function(e){
			$('#deletedList').modal('show');
			$.ajax({
				url: "/Settings/DeletedDistricts",
			}).done(function (result) {
				jsController.deletedData.deleted = result;
				jsController.renderDeletedData();
			});
		},

		restoreDistrict: function(e) {
			var itemId = $(e).attr('data-items-id'); // get model item id from template
			var name = $(e).attr('data-items-name'); // get model item name from template

			$.ajax({
				url: "/Settings/RestoreDistrict/",
				data: {id: itemId}
			}).done(function (result) {
				jsController.deletedData.deleted = result;
				jsController.renderDeletedData();
				jsController.refreshData();
			});
		},

		refreshData: function(e) {
			$.ajax({
				url: "/Settings/GetAvailableDistricts/",
			}).done(function (result) {
				jsController.data.items = result;
				jsController.renderData();
			});
		},

		//! function for adding new districts
		addDistrict: function(e) {

			$('#add-item').modal('show');

			$('#add-item .btn-ok').click(function(){
				var newDistrictName = $('#newDistrictName').val();
				$.ajax({
					url: "/Settings/AddDistrict",
					data: {name: newDistrictName}
				}).done(function (result) {
					jsController.data.items = result;
					jsController.renderData();
				});

				$("#add-item").modal('hide');
			});
		},

		//! function for deleting selected district
		deleteItem: function(e) {
			 itemId = $(e).attr('data-items-id');
			 itemName = $(e).attr('data-items-name');

			$('.item-name').html(itemName);
			$('#confirm-delete').modal('show');


			
		},

		//! function for editing selected district info
		editItem: function(e) {
			var itemId = $(e).attr('data-items-id'); // get model item id from template
			var name = $(e).attr('data-items-name'); // get model item name from template

			$('#newName').val(name); // set model item name to an input field
			$("#edit-item").modal('show'); // show modal

			$('#edit-item .btn-ok').click(function() {
				var newName = $('#newName').val();
				$.ajax({
					url: "/Settings/EditDistrict/",
					data: { id: itemId, name: newName}
				}).done(function (result) {
					jsController.data.items = result;
					jsController.renderData();
				});

				$("#edit-item").modal('hide');
			});


		}
	};
</script>


