@model IList<Model.District>
@{
	string username = (Session["user"] as Model.DTO.UserDTO).UserName;
}
<h2>@Resources.Resource.DistrictEditor</h2>
<div>
	<div class="page-header">
		<h1>@Resources.Resource.Greeting,<small>@username</small></h1>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">@Resources.Resource.Districts</h3>
		</div>
		<div class="panel-body">
		</div>
		<div class="panel-footer">
			<a class="btn btn-success" onclick="jsController.addDistrict()">@Resources.Resource.addString</a>
			<a class="btn btn-warning" onclick="jsController.DistrictBasket(this)">@Resources.Resource.DistrictBasket</a>
		</div>
		<div class="table-list">
			<div class="table-responsive">
				<table class="table table-striped" id="districtEditTable">
					<thead>
						<tr class="info">
							<th>
								@Resources.Resource.District
							</th>
							<th>
								@Resources.Resource.Action
							</th>
						</tr>
					</thead>
					<tbody>
						<script id="dsEditRow" type="text/x-handlebars-template">
							{{#each items}}
							<tr>
								<td>
									{{Name}}
								</td>
								<td>
									<a class="btn btn-warning" href="#" data-items-id="{{Id}}" data-items-name="{{Name}}" role="button" onclick="jsController.editItem(this)">@Resources.Resource.editString</a>
									<a class="btn btn-danger" href="#" data-items-id="{{Id}}" data-items-name="{{Name}}" role="button" onclick="jsController.deleteItem(this)">@Resources.Resource.deleteString</a>
								</td>
							</tr>
							{{/each}}
						</script>
					</tbody>
				</table>

				<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">@Resources.Resource.deleteConfirm</h4>
							</div>

							<div class="modal-body">
								<p>@Resources.Resource.deleteDstEntryQuestion</p>
								<h4><p class="item-name"></p></h4>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.cancelButton</button>
								<a class="btn btn-danger btn-ok">@Resources.Resource.deleteString</a>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="edit-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">@Resources.Resource.editString</h4>
							</div>

							<div class="modal-body">
								<p>@Resources.Resource.enterNewDstName</p>
								<h4><input id="newName" /></h4>
							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.cancelButton</button>
								<a class="btn btn-danger btn-ok">@Resources.Resource.saveButton</a>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="add-item" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">@Resources.Resource.addNewDistrict</h4>
							</div>
							<div class="modal-body">
								<p>@Resources.Resource.enterDistrictName</p>
								<h4><input type="text" class="form-control input-lg" id="newDistrictName" /></h4>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<a class="btn btn-danger btn-ok">@Resources.Resource.saveButton</a>
							</div>
						</div>
					</div>
				</div>

				<div class="modal fade" id="deletedList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">@Resources.Resource.DeletedDistricts</h4>
							</div>
							<div class="modal-body">
								<div class="table-list">
									<div class="table-responsive">
										<table class="table table-striped" id="districtDeletedTable">
											<thead>
												<tr class="info">
													<th>
														@Resources.Resource.District
													</th>
													<th>
														@Resources.Resource.Action
													</th>
												</tr>
											</thead>
											<tbody>
												<script id="dsDeletedRow" type="text/x-handlebars-template">
													{{#each deleted}}
													<tr>
														<td>
															{{Name}}
														</td>
														<td>
															<a class="btn btn-warning" href="#" data-items-id="{{Id}}" data-items-name="{{Name}}" role="button" onclick="jsController.restoreDistrict(this)">@Resources.Resource.RestoreDistrict</a>
														</td>
													</tr>
													{{/each}}
												</script>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resource.cancelButton</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<script>
	var itemId;
	var itemName;
	var districtTemplate = Handlebars.compile($("#dsEditRow").html());
	var deletedDistrictsTemplate = Handlebars.compile($("#dsDeletedRow").html());
	var encodedData = @Html.Raw(Json.Encode(Model.ToList()));
	var encodedDeleted = @Html.Raw(Json.Encode(Model.ToList()));
</script>
<script type="text/javascript" src="~/Scripts/DistrictScriptLogic.js"></script>


