@model IList<Model.District>
@{
	string username = (Session["user"] as Model.DTO.UserDTO).UserName;
}
<link rel="stylesheet" href="~/Content/AutoParkCustomStyles.css" type="text/css" />
<div>
	<div class="page-header">
		<h1>@Resources.Resource.Greeting,<small>@username</small></h1>
	</div>
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">@Resources.Resource.Districts</h3>
		</div>
		<div class="panel-body">
			<img class="img-thumbnail" src="~/Content/Picture/Skyline_new_york_city.jpg" />
		</div>
		<div class="panel-footer">
			<a class="btn btn-success" onclick="jsController.addDistrict()">
				<span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp;</span>@Resources.Resource.addString
			</a>
			<a class="btn btn-warning" onclick="jsController.DistrictBasket(this)">
				<span class="glyphicon glyphicon-th-list" aria-hidden="true">&nbsp;</span>@Resources.Resource.DistrictBasket
			</a>
		</div>
		<div class="table-list">
			<div class="table-responsive">
				<table class="table table-striped" id="districtEditTable">
					<thead>
						<tr class="info">
							<th>
								@Resources.Resource.District
							</th>
							<th>
								@Resources.Resource.Action
							</th>
						</tr>
					</thead>
					<tbody>
						<script id="dsEditRow" type="text/x-handlebars-template">
							{{#each items}}
							<tr>
								<td>
									{{Name}}
								</td>
								<td>
									<a class="btn btn-warning" href="#" data-items-id="{{Id}}" data-items-name="{{Name}}" role="button" onclick="jsController.editItem(this)">
										<span class="glyphicon glyphicon-cog" aria-hidden="true">&nbsp;</span>@Resources.Resource.editString
									</a>
									<a class="btn btn-danger" href="#" data-items-id="{{Id}}" data-items-name="{{Name}}" role="button" onclick="jsController.deleteItem(this)">
										<span class="glyphicon glyphicon-trash" aria-hidden="true">&nbsp;</span>@Resources.Resource.deleteString
									</a>
								</td>
							</tr>
							{{/each}}
						</script>
					</tbody>
				</table>
				@Html.Partial("_DeleteDistrictP", Model)
				@Html.Partial("_EditDistrictP", Model)
				@Html.Partial("_AddDistrictP", Model)
				@Html.Partial("_DeletedListP", Model)
			</div>
		</div>
	</div>
</div>

<script>
	var itemId;
	var itemName;
	var districtTemplate = Handlebars.compile($("#dsEditRow").html());
	var deletedDistrictsTemplate = Handlebars.compile($("#dsDeletedRow").html());
	var encodedData = @Html.Raw(Json.Encode(Model.ToList()));
	var encodedDeleted = @Html.Raw(Json.Encode(Model.ToList()));
</script>
<script type="text/javascript" src="~/Scripts/DistrictScriptLogic.js"></script>


