@using Model.DTO;
@model List<VIPClientDTO>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetVIPStatus</title>
</head>

<body>
    <div>

        <h1>@Resources.Resource.SetVIPStatusPage</h1>

        <table class="table">
            <tr>
                <th>
                    @Resources.Resource.UserName
                </th>
                <th>
                    @Resources.Resource.Setdate
                </th>
                <th>
                    @Resources.Resource.Action
                </th>
            </tr>

            @{

                foreach (VIPClientDTO client in Model)
                {
                    <tr>
                        <td>@client.UserName</td>

                        @if (@client.Id == 0)
                        {
                            <td></td>
                            <td>@Html.ActionLink(Resources.Resource.Set, "SetVIPUser", new VIPClientDTO() { UserId = client.UserId })</td>
                        }
                        else
                        {
                            <td>@client.SetDate.ToString("dd:MM:yyyy")</td>
                            <td>@Html.ActionLink(Resources.Resource.deleteString, "DeleteVIPUser", new VIPClientDTO() { Id = client.Id })</td>
                        }
                    </tr>
                }
            }
        </table>

    </div>
</body>
</html>


