@model IList<Model.DTO.UserDTO>

@{
    ViewBag.Title = @Resources.Resource.UserMenu;
}

<h2>@Resources.Resource.UserMenu</h2>

<table class="table">
    <tr>
        <td><strong> @Html.Label(Resources.Resource.UserId)</strong></td>
        <td><strong>@Html.Label(Resources.Resource.UserName)</strong></td>
        <td><strong>@Html.Label(Resources.Resource.Email)</strong></td>
        <td><strong>@Html.Label(Resources.Resource.Role)</strong></td>
        <td><strong>@Html.Label(Resources.Resource.Description)</strong></td>
        <td><strong>@Resources.Resource.editString</strong></td>
    </tr>

    @foreach (var i in Model)
    {
     <tr>
        @Html.Partial("_ShowUser",i)
         <td>@Html.ActionLink(Resources.Resource.editString, "ChangeMenu", new { id = i.Id})</td>
    </tr>
    }

</table>