@model IList<Model.DTO.UserDTO>

@{
    ViewBag.Title = @Resources.Resource.UserMenu;
}

<h2>@Resources.Resource.UserMenu</h2>

@Html.Partial("_UserTable")

<p>
    @Html.ActionLink("AddUser", "AddUser", "Administration")
</p>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header modal-header-info" id="modalHeader">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Resources.Resource.EditUser</h4>
            </div>
			<div class="modal-body" id="modalBody">
				<div id="loading">
					<i class="fa fa-refresh fa-spin fa-5x"></i>
				</div>
				<div class="btform">
					@using (Ajax.BeginForm("PartialUsersTable", new { controller = "Settings", action = "PartialUsersTable" },
						new AjaxOptions
						{
							InsertionMode = InsertionMode.Replace,
							HttpMethod = "POST",
							UpdateTargetId = "users-table"
						}, new { @id = "ChangeForm" }))
					{
						<table class="table" id="ModalContent"></table>

						<input type="submit" id="mdal-submit" class="btn btn-success" name="Ok" value="Ok" />
					}
				</div>


			</div>

			<div class="modal-footer" id="modalFooter">
				<button type="button" class="btn btn-success warning" data-dismiss="modal">Close</button>
			</div>
        </div>

    </div>
</div>
